.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.multi-container {
  max-width: 14rem;
  display: flex;
  flex-direction: column;
}

.multi-paragraph {
  text-align: center;
}

.count-container {
  display: flex;
  justify-content: space-between;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.5); }
  100% { transform: scale(1); }
}